h1{
    color: darkred;
    padding: 20px;
    width: 60%;
    margin: auto;
    
}
body{
    font-family: Arial;
    background: rgb(79, 209, 209);
     
    
}
#resume{
    background: rgb(114, 12, 12);
    padding: 20px;
    width: 100%;
    margin: auto;
}
#skill{
    background: rgb(166, 207, 101);
    padding: 20px;
    width: 60%;
    margin: auto;
}
#education{
    background: rgb(137, 127, 221);
    padding: 20px;
    width: 60%;
    margin: auto;
}
#experience{
    background: rgb(101, 212, 175);
    padding: 20px;
    width: 60%;
    margin: auto;
}
